@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
body {
  font-family: "Outfit", sans-serif;
}
@theme {
  --color-green-100: #013941;
  --color-grey-400: #828282;
  --color-grey-100: #f2f2f2;
}
